# General stuff
*~
*.swp
*.synctex.gz(busy)

# LaTeX stuff
doc/*.out
doc/*.aux
doc/*.log
doc/*.maf
doc/*.mtc
doc/*.mtc0
doc/*.pdf
doc/*.synctex.gz
doc/*.fdb_latexmk
doc/*.fls
doc/*.blg
doc/*.bbl
doc/*.toc
doc/.goutputstream-*
doc/*.tdo

poster/*.out
poster/*.aux
poster/*.log
poster/*.maf
poster/*.mtc
poster/*.mtc0
poster/*.pdf
poster/*.synctex.gz
poster/*.fdb_latexmk
poster/*.fls
poster/*.blg
poster/*.bbl
poster/*.toc
poster/.goutputstream-*

poster/*.out
poster/*.aux
poster/*.log
poster/*.maf
poster/*.mtc
poster/*.mtc0
poster/*.pdf
poster/*.synctex.gz
poster/*.fdb_latexmk
poster/*.fls
poster/*.blg
poster/*.bbl
poster/*.toc
poster/.goutputstream-*

# Software files
*.out
*.elf
*.hex
*.lst
*.sym
*.o

*.pyc

sw/MATLAB/html/*
sw/MATLAB/*.eps
sw/MATLAB/*.mat

sw/MATLAB/pos.csv
sw/MATLAB/pos-local.csv
sw/MATLAB/biasesti.m
sw/MATLAB/accdata00185.csv

# LLI stuff
sw/lli/doc

# Hardware files
hw/*.bak
hw/*.dcm
hw/*.ps
hw/*.000
hw/lib/*.bak
hw/lib/*.bck

# HLI stuff
sw/HLI/Python/Communication/*.TXT
sw/HLI/Python/Communication/*.txt
sw/HLI/Python/Communication/*.csv
sw/HLI/Python/Communication/*.log

# Litterature
litterature/*


paper/ifacconf.aux

paper/ifacconf.fdb_latexmk

paper/ifacconf.log

paper/ifacconf.pdf

paper/ifacconf.fls

maidenvoyage/

backup181212.zip

doc/master.pdf

doc/master.pdf
