# General stuff
*~
*.swp
*.synctex.gz(busy)

# LaTeX stuff
doc/*.out
doc/*.aux
doc/*.log
doc/*.maf
doc/*.mtc
doc/*.mtc0
doc/*.pdf
doc/*.synctex.gz
doc/*.fdb_latexmk
doc/*.fls
doc/*.blg
doc/*.bbl

# Software files
*.out
*.elf
*.hex
*.lst
*.sym

*.pyc

# Hardware files
hw/*.bak
hw/*.dcm
hw/*.ps
hw/*.000
hw/lib/*.bak

doc/master.toc
